### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_rows = purchase_data["SN"].nunique()
total_rows

576

In [3]:
TotNumPlay= pd.DataFrame({"Total Players": [total_rows]})
TotNumPlay

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Len= len(purchase_data)-1
TotalRev = sum(purchase_data["Price"])
TotalRev

2379.7699999999973

In [5]:

AveragePrice = (TotalRev/Len)
AveragePrice

3.054903722721434

In [6]:
NumItems = purchase_data["Item ID"].nunique()
NumItems

183

In [7]:
numberofpurchases = purchase_data.count()
numberofpurchases

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [8]:
TotNumItems = pd.DataFrame(
    {"Number of Unique Items": NumItems, "Average Price": '${:,.2f}'.format(AveragePrice), "Number of Purchases": [780], "Total Revenue": '${:,.2f}'.format(TotalRev) })
TotNumItems

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [9]:
'Example'

'Example'

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Remove Repeated People
purchase_datafitered = purchase_data.drop_duplicates(subset= 'SN', keep='first', inplace=False)
purchase_datafitered = pd.DataFrame(purchase_datafitered)
purchase_datafitered

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [11]:
#Find total NUmber of People
People = purchase_datafitered['SN'].count()
People

576

In [12]:
#Find Genders
Genders = purchase_datafitered['Gender'].unique()
Genders

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [13]:
#Find total number of people based on gender
PeoplebyGender = purchase_datafitered['Gender'].value_counts()
PeoplebyGenderdf = pd.DataFrame(PeoplebyGender)
PeoplebyGenderdf

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [14]:
# Find Quantities of Genders
Male = PeoplebyGenderdf.loc['Male', 'Gender']
Female = PeoplebyGenderdf.loc['Female', 'Gender']
Other_NonDisclosed = PeoplebyGenderdf.loc['Other / Non-Disclosed', 'Gender']
print(f'There are {Male} Males. There are {Female} Females. There are {Other_NonDisclosed} Other_Non-Disclosed People.')

There are 484 Males. There are 81 Females. There are 11 Other_Non-Disclosed People.

In [15]:
# Find Percentages of Genders
malepercent= "{0:.2f}%".format(Male/People*100)
femalepercent= "{0:.2f}%".format(Female/People*100)
otherpercent= "{0:.2f}%".format(Other_NonDisclosed/People*100)
Percentage_of_Players = [malepercent, femalepercent, otherpercent]

In [16]:
Genderdf=pd.DataFrame({"Gender": Genders, "Percentage_of_Players": Percentage_of_Players, "Total Count": PeoplebyGender})
Genderdf = Genderdf.set_index("Gender")
Genderdf

                      Percentage_of_Players  Total Count
Gender
Male                                 84.03%          484
Other / Non-Disclosed                14.06%           81
Female                                1.91%           11

In [17]:
'Example'

'Example'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
Gendercounts = purchase_data["Gender"].value_counts()
Gendercountsdf = pd.DataFrame(Gendercounts)
Gendercountsdf

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [19]:
Pricecountsdf = pd.DataFrame(purchase_data[["Price", "Gender"]])
GenderPricedf = Pricecountsdf.groupby("Gender").sum()
GenderPricedf

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [20]:
AvGenderPrice = GenderPricedf["Price"]/Gendercountsdf["Gender"]
AvGenderPricedf = pd.DataFrame(AvGenderPrice)
AvGenderPricedf.columns=["Average_Purchase_Price"]
AvGenderPricedf

                       Average_Purchase_Price
Female                               3.203009
Male                                 3.017853
Other / Non-Disclosed                3.346000

In [21]:
# Avg Total Purchase per Person
AvFemPrice = '${:,.2f}'.format(GenderPricedf.loc['Female','Price']/PeoplebyGenderdf.loc['Female', 'Gender'])
AvMalPrice = '${:,.2f}'.format(GenderPricedf.loc['Male','Price']/PeoplebyGenderdf.loc['Male', 'Gender'])
AvOthPrice = '${:,.2f}'.format(GenderPricedf.loc['Other / Non-Disclosed','Price']/PeoplebyGenderdf.loc['Other / Non-Disclosed', 'Gender'])
print (f' The average purchase per person for females are {AvFemPrice}, for males are {AvMalPrice}, for Other / Non-Disclosed are {AvOthPrice}')
AvPurchasePrice = ({"Avg Total Purchase per Person": [AvFemPrice, AvMalPrice, AvOthPrice], "Gender": ["Female", "Male", "Other / Non-Disclosed"]})
AvPurchasePricedf = pd.DataFrame(AvPurchasePrice)
AvPurchasePricedf = AvPurchasePricedf.set_index("Gender")
AvPurchasePricedf

 The average purchase per person for females are $4.47, for males are $4.07, for Other / Non-Disclosed are $4.56

                      Avg Total Purchase per Person
Gender
Female                                        $4.47
Male                                          $4.07
Other / Non-Disclosed                         $4.56

In [22]:
combindeddf = pd.concat([Gendercountsdf, GenderPricedf], axis=1, join='outer')
combindeddf2 = pd.concat([combindeddf, AvGenderPricedf], axis=1, join='outer')
combindeddf3 = pd.concat([combindeddf2, AvPurchasePricedf], axis=1, join='outer')
combindeddf3 = combindeddf3.style.format({'Average_Purchase_Price': "${:,.2f}"})
combindeddf3

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [23]:
#Example

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
# Bins are 0, 10, 14, 19, 24, 29, 34, 39, 100. 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create Age Ranges
Age_Groups = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

In [25]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=Age_Groups)
AgeRangedf = purchase_data.set_index("Age Ranges")
AgeRangedf

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Ranges,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
20-24,775,Aethedru70,21,Female,60,Wolf,3.54
20-24,776,Iral74,21,Male,164,Exiled Doomblade,1.63
20-24,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
<10,778,Sisur91,7,Male,101,Final Critic,4.19
20-24,779,Ennrian78,24,Male,50,Dawn,4.60

In [26]:
#Find Total People in Age Range
AgeRangedffiltered = AgeRangedf.drop_duplicates(subset= 'SN', keep='first', inplace=False)
pop_under10 = AgeRangedffiltered["Purchase ID"].loc["<10"].count()
pop_10_14 = AgeRangedffiltered["Purchase ID"].loc["10-14"].count()
pop_15_19 = AgeRangedffiltered["Purchase ID"].loc["15-19"].count()
pop_20_24 = AgeRangedffiltered["Purchase ID"].loc["20-24"].count()
pop_25_29 = AgeRangedffiltered["Purchase ID"].loc["25-29"].count()
pop_30_34 = AgeRangedffiltered["Purchase ID"].loc["30-34"].count()
pop_35_39 = AgeRangedffiltered["Purchase ID"].loc["35-39"].count()
pop_over40 = AgeRangedffiltered["Purchase ID"].loc["40+"].count()
Total_Players = AgeRangedffiltered["Purchase ID"].count()
Total_Count = ({"Total_Count":[pop_under10, pop_10_14, pop_15_19, pop_20_24, pop_25_29, pop_30_34, pop_35_39, pop_over40]})
Total_Countdf = pd.DataFrame(Total_Count, Age_Groups)
Total_Countdf

       Total_Count
<10             17
10-14           22
15-19          107
20-24          258
25-29           77
30-34           52
35-39           31
40+             12

In [27]:
perc_under10 = '{:.2%}'.format(pop_under10/Total_Players)
perc_10_14 = '{:.2%}'.format(pop_10_14/Total_Players)
perc_15_19 = '{:.2%}'.format(pop_15_19/Total_Players)
perc_20_24 = '{:.2%}'.format(pop_20_24/Total_Players)
perc_25_29 = '{:.2%}'.format(pop_25_29/Total_Players)
perc_30_34 = '{:.2%}'.format(pop_30_34/Total_Players)
perc_35_39 = '{:.2%}'.format(pop_35_39/Total_Players)
perc_over40 = '{:.2%}'.format(pop_over40/Total_Players)
PercofPlayers = ({"Percent_of_Players": [perc_under10,perc_10_14,perc_15_19,perc_20_24,perc_25_29,perc_30_34,perc_35_39,perc_over40]})
PercentofPlayersdf = pd.DataFrame(PercofPlayers, Age_Groups)
PercentofPlayersdf

      Percent_of_Players
<10                2.95%
10-14              3.82%
15-19             18.58%
20-24             44.79%
25-29             13.37%
30-34              9.03%
35-39              5.38%
40+                2.08%

In [28]:
#Combine Data Frames
AgeDemographicsdf = pd.concat([Total_Countdf, PercentofPlayersdf], axis=1, join='outer')
AgeDemographicsdf

       Total_Count Percent_of_Players
<10             17              2.95%
10-14           22              3.82%
15-19          107             18.58%
20-24          258             44.79%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
40+             12              2.08%

In [29]:
#Example

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Find total spent per age range
tot_under10 = AgeRangedf.loc["<10","Price"].sum()
tot_10_14 = AgeRangedf.loc["10-14","Price"].sum()
tot_15_19 = AgeRangedf.loc["15-19","Price"].sum()
tot_20_24 = AgeRangedf.loc["20-24","Price"].sum()
tot_25_29 = AgeRangedf.loc["25-29","Price"].sum()
tot_30_34 = AgeRangedf.loc["30-34","Price"].sum()
tot_35_39 = AgeRangedf.loc["35-39","Price"].sum()
tot_over40 = AgeRangedf.loc["40+","Price"].sum()

Total_purchase_value = {"Total_purchase_value": [tot_under10,tot_10_14,tot_15_19,tot_20_24,tot_25_29,tot_30_34,tot_35_39,tot_over40], "Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]}
Total_purchase_valuedf= pd.DataFrame(Total_purchase_value)
Total_purchase_valuedf= Total_purchase_valuedf.set_index("Age Ranges")
Total_purchase_valuedf

            Total_purchase_value
Age Ranges
<10                        77.13
10-14                      82.78
15-19                     412.89
20-24                    1114.06
25-29                     293.00
30-34                     214.00
35-39                     147.67
40+                        38.24

In [31]:
#Find the Purchase Count
PurchaseCount_under10 = AgeRangedf["Purchase ID"].loc["<10"].count()
PurchaseCount_10_14 = AgeRangedf["Purchase ID"].loc["10-14"].count()
PurchaseCount_15_19 = AgeRangedf["Purchase ID"].loc["15-19"].count()
PurchaseCount_20_24 = AgeRangedf["Purchase ID"].loc["20-24"].count()
PurchaseCount_25_29 = AgeRangedf["Purchase ID"].loc["25-29"].count()
PurchaseCount_30_34 = AgeRangedf["Purchase ID"].loc["30-34"].count()
PurchaseCount_35_39 = AgeRangedf["Purchase ID"].loc["35-39"].count()
PurchaseCount_over40 = AgeRangedf["Purchase ID"].loc["40+"].count()
Purchase_count = {"Purchase Count": [PurchaseCount_under10,PurchaseCount_10_14,PurchaseCount_15_19,PurchaseCount_20_24,PurchaseCount_25_29,PurchaseCount_30_34,PurchaseCount_35_39,PurchaseCount_over40],"Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]}
Purchase_countdf = pd.DataFrame(Purchase_count)
Purchase_countdf= Purchase_countdf.set_index("Age Ranges")
Purchase_countdf

            Purchase Count
Age Ranges
<10                     23
10-14                   28
15-19                  136
20-24                  365
25-29                  101
30-34                   73
35-39                   41
40+                     13

In [32]:
#Find Average Purchase Price
avpurprice = {'Average Purchase Price' : Total_purchase_valuedf["Total_purchase_value"]/Purchase_countdf["Purchase Count"]}
avpurpricedf = pd.DataFrame(avpurprice)
avpurpricedf

            Average Purchase Price
Age Ranges
<10                       3.353478
10-14                     2.956429
15-19                     3.035956
20-24                     3.052219
25-29                     2.900990
30-34                     2.931507
35-39                     3.601707
40+                       2.941538

In [33]:
#Find Average Purchase Price
avpurpricepp = {"Avg Total Purchase per Person" : Total_purchase_valuedf["Total_purchase_value"]/AgeDemographicsdf["Total_Count"]}
avpurpricepp
avpurpriceppdf = pd.DataFrame(avpurpricepp)
avpurpriceppdf

            Avg Total Purchase per Person
Age Ranges
<10                              4.537059
10-14                            3.762727
15-19                            3.858785
20-24                            4.318062
25-29                            3.805195
30-34                            4.115385
35-39                            4.763548
40+                              3.186667

In [34]:
#Create Summary Table
PurchasingSummaryTable = pd.concat([Total_purchase_valuedf, Purchase_countdf], axis=1, join='outer')
PurchasingSummaryTable1 = pd.concat([PurchasingSummaryTable, avpurpricedf], axis=1, join='outer')
PurchasingSummaryTable2 = pd.concat([PurchasingSummaryTable1, avpurpriceppdf], axis=1, join='outer')
PurchasingSummaryTable2 = PurchasingSummaryTable2.style.format({'Total_purchase_value' : "${:,.2f}",'Average Purchase Price':"${:,.2f}", 'Avg Total Purchase per Person': "${:,.2f}"})
PurchasingSummaryTable2

In [35]:
#Example
TopSpenders = purchase_data.groupby(['SN'])
TopSpendersdf = pd.DataFrame(TopSpenders['Price'].sum())
TopSpendersdf = TopSpendersdf.sort_values(['Price'], ascending=False)
Top5Spendersdf = TopSpendersdf[0:5]
Top5Spendersdf

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10

## Top Spenders

In [36]:
Lisosia93 = purchase_data['SN'].loc[purchase_data['SN'] == 'Lisosia93'].count()
Idastidru52 = purchase_data['SN'].loc[purchase_data['SN'] == 'Idastidru52'].count()
Chamjask73 = purchase_data['SN'].loc[purchase_data['SN'] == 'Chamjask73'].count()
Iral74 = purchase_data['SN'].loc[purchase_data['SN'] == 'Iral74'].count()
Iskadarya95 = purchase_data['SN'].loc[purchase_data['SN'] == 'Iskadarya95'].count()
PurchaseCount = [Lisosia93, Idastidru52, Chamjask73, Iral74, Iskadarya95]
#PurchaseCount = {'Lisosia93': Lisosia93,'Idastidru52': Idastidru52, 'Chamjask73': Chamjask73, 'Iral74': Iral74, 'Iskadarya95': Iskadarya95}
Top5Spendersdf['Purchase Count']= PurchaseCount
Top5Spendersdf

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             Price  Purchase Count
SN
Lisosia93    18.96               5
Idastidru52  15.45               4
Chamjask73   13.83               3
Iral74       13.62               4
Iskadarya95  13.10               3

In [37]:
#Find Average Purchase Price
AvPurPrice = Top5Spendersdf['Price']/ Top5Spendersdf['Purchase Count']
AvPurPrice
Top5Spendersdf['Average Purchase Price']= AvPurPrice
Top5Spendersdf=Top5Spendersdf.style.format({'Price' : "${:,.2f}",'Average Purchase Price':"${:,.2f}"})
#Top5Spendersdf=Top5Spendersdf.rename(columns={"Price":"Total Purchase Value"})
Top5Spendersdf

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
#Example

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
Popitems = purchase_data.groupby(['Item Name'])
Popitemsdf = pd.DataFrame(Popitems)
Popitemsdf

,0,1
0,Abyssal Shard,Purchase ID SN Age Gender It...
1,"Aetherius, Boon of the Blessed",Purchase ID SN Age Gender It...
2,Agatha,Purchase ID SN Age Gender Ite...
3,Alpha,Purchase ID SN Age Gender Item...
4,"Alpha, Oath of Zeal",Purchase ID SN Age Gender...
...,...,...
174,Wolf,Purchase ID SN Age Gender ...
175,"Wolf, Promise of the Moonwalker",Purchase ID SN Age Gender It...
176,Worldbreaker,Purchase ID SN Age Gender I...
177,Yearning Crusher,Purchase ID SN Age Gender It...
178,Yearning Mageblade,Purchase ID SN Age Gender ...

In [40]:
UniqueItemCounts = purchase_data['Item Name'].value_counts()
UniqueItemCountsdf = pd.DataFrame(UniqueItemCounts)
UniqueItemCountsdf

                                              Item Name
Final Critic                                         13
Oathbreaker, Last Hope of the Breaking Storm         12
Nirvana                                               9
Persuasion                                            9
Fiery Glass Crusader                                  9
...                                                 ...
Ghost Reaver, Longsword of Magic                      1
Exiled Mithril Longsword                              1
Gladiator's Glaive                                    1
Betrayer                                              1
Riddle, Tribute of Ended Dreams                       1

[179 rows x 1 columns]

In [44]:
ItemID = purchase_data[['Item ID', 'Item Name']]
ItemID = ItemID.set_index('Item Name')
ItemID

                                           Item ID
Item Name
Extraction, Quickblade Of Trembling Hands      108
Frenzied Scimitar                              143
Final Critic                                    92
Blindscythe                                    100
Fury                                           131
...                                            ...
Wolf                                            60
Exiled Doomblade                               164
Celeste, Incarnation of the Corrupted           67
Final Critic                                   101
Dawn                                            50

[780 rows x 1 columns]

In [57]:
Popitemssum = purchase_data.groupby(['Item Name']).sum()
Popitemssumdf = Popitemssum.sort_values(['Price'], ascending=False)
Popitemssumdf = Popitemssumdf.drop(columns=['Purchase ID', 'Age', 'Item ID'])
Popitemssumdf['Purchase Count']= UniqueItemCounts
Popitemssumdf['Item Price']= Popitemssumdf['Price']/Popitemssumdf['Purchase Count']
Popitemssumdf=Popitemssumdf.join(ItemID, on='Item Name')
Popitemssumdf=Popitemssumdf.drop_duplicates(subset= 'Item Price', keep='first', inplace=False)
Popitemssumdf=Popitemssumdf.style.format({'Price' : "${:,.2f}",'Item Price':"${:,.2f}"})
Popitemssumdf

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame